*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111827;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
    background:#1f2937;
    padding:40px;
    border-radius:15px;
    width:350px;
}

h1{
    margin-bottom:30px;
}

.speed-box{
    margin:30px 0;
}

.speed-value{
    font-size:60px;
    font-weight:bold;
    color:#22c55e;
}

.speed-unit{
    font-size:20px;
}

button{
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#1d4ed8;
}

.status{
    margin-top:20px;
    color:#9ca3af;
}
